<div class="maincontent">
  <article class="article">
    <h1 class="article-title">About Brian</h1>
      <p>I studied Mathematics and Economics at <a href="http://www.uct.ac.za">UCT</a> and completed in 2014.
         I then started working as a Programmer Analyst for an IT company (<a href="http://www.equisoft.com">EquiSoft</a>),
         specializing in software development for Insurance products. My roles there
         involved configuring policy admin systems using an oracle-based system
         called OIPA.<br /><br />

         I am currently working as a Client Analyst for an analytics
         company (<a href="https://www.iriworldwide.com/en-SA/">IRI SA</a>), specializing in Retail and FMCG. My responsibilities involve
         troubleshooting big data issues, designing and creating client databases, from which I then
         generate analytics for monthly presentations.<br /><br />

         My objective is To obtain a full time entry level Software Development position within a company that promotes
         growth and values resourceful employees. I am looking for a position within an IT company, where I
         can utilize my strong technical, organizational and problem solving skills, while providing a superior
         client experience.
     </p>
  </article>
<footer>
    <article class="article">
      <h1 class="article-title">Get in touch!</h1>
          <p>You can <a href="http://www.twitter.com">follow me on twitter</a> or <a href="https://www.facebook.com">invite me on FaceBook</a>.
          </p>
          <br />
    </article>
</footer>

</div>
