<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>http://www.brianhlophe.com</title>
        <!-- Supporting legacy browsers: IE < IE9-->
        <!-- [if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"/>
            <![end if]
        -->
        <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
      <header>
          <nav>
              <ul>
                  <li><a href="home.htm" title="home">HOME</a>
                  <li><a href="portfolio.htm" title="portfolio">PORTFOLIO</a>
                  <li><a href="blog.htm" title="blog">BLOG</a>
                  <li><a href="contact.htm" title="contact">CONTACT</a>
              </ul>
          </nav>
      </header>
      <header>
          <!-- Resume navigation -->
          <h1>Brian Hlophe's Resume</h1>
      </header>

          <main>
              <article>
              <h2>Objective</h2>
                To obtain a full time Business Intelligence Developer position within a company that promotes growth
                and values resourceful employees. <br/>I am looking for a position within a company that needs to make
                visual sense of their data, where I can utilize my strong technical, organizational and problem solving
                skills, while providing a superior client experience.
              </article>
          </main>

          <article>

              <h2>Professional Experience</h2>
                 <section>
                  <h3>Equisoft Inc, Cape Town, SA</h3>

                  <h4>Programmer Analyst
                      May 2015 - Nov 2016 (1.5 years)</h4>

                    <p>Worked at Equisoft as a Programmer Analyst on various projects with local and
                    international financial institutions
                    Implementation of the Oracle Insurance Policy Administration System across multiple
                    insurance products (Life Insurance, Employee Care Annuities, Endowment Plans, Accidental
                    Plans, Creditor Life and Creditor Life for Credit Cards)
                    Duties involved the following,</p>

                    <ul>
                         <li>Solution design</li>
                         <li>Solution development</li>
                         <li>Unit testing</li>
                         <li>Solution delivery</li>
                         <li>Redaction of process documents</li>
                         <li>Production support</li>
                    </ul>
                </section>
                 <section>
                  <h3>IRI South Africa, Cape Town</h3>

                  <h4>Client Analyst
                      December 2016 - present(8 months)</h4>
                    <p>
                    Worked at IRI as a Client Analyst on projects involving many clients in the Fast Moving
                    Consumer Goods (FMCG) sector
                    Developing Analytics and Business Intelligence Solutions for clients, helping them with
                    growth strategies regarding their products
                    Duties involve the following,
                   </p>
                    <ul>
                         <li>Aggregating store level data to regional level</li>
                         <li>Extraction of store level and regional level data</li>
                         <li>Creating temple client databases</li>
                         <li>Troubleshooting client databases</li>
                         <li>Generating analytics</li>
                         <li>Monthly deployments of client databases and analytics</li>
                    </ul>
                </section>

          <article>
              <h2>Education</h2>
              <section>
                  <p>University of Cape Town, Bachelor of Commerce (Mathematics and Economics)  2012 - 2014</p>

                  <p>University of Cape Town, Bachelor of Business Science in Actuarial Science
                  Transferred to BCom (Mathematics and Economics) in 2012                      2010 - 2011</p>

                  <p>National Senior Certificate, Mthwalume High School           2009</p>
              </section>
          </article>

          <article>
              <h2>Volunteering/Leadership Experience</h2>
              <h3>Volunteering Teacher</h3>
                <p>Volunteered at a busy school, Siphephile High in KwaZulu-Natal</p>
                   <ul>
                       <li>Teaching grade 12 Mathematics, Economics and Physical Sciences.</li>
                       <li>Marking assistant for grade 11 Exams</li>
                   </ul>

                <h3>Volunteering Teacher and Mentor</h3>
                    <p>Volunteered with the Students Health and Welfare Centres Organisation (SHAWCO),
                       Kensmart programme</p>
                       <ul>
                           <li>Teaching grade 10 and 11 Mathematics</li>
                           <li>Helping grade 12 students with Career choices</li>
                       </ul>
          </article>
          <article>
              <h2>Skills</h2>
              <section>
                  COMMUNICATION: oral and written communication skills developed through proposals,<br />
                  report writing, presentations as well as group-work interactions at varsity. Presenting software
                  solutions to clients at work further enhanced my communication skills.
              </section>
              <section>
                  IT:
                  <ul>
                      <!-- Proficient computer user; competent in Windows and Linux operating systems
                      Microsoft Office, with advanced Excel skills
                      Microsoft SQL Server
                      Microsoft Business Intelligence Stack
                      HTML, CSS and JavaScript
                      Basic programming skills in C++
                      All skills gained through self-study, a solid Computing background in academic career and
                      working as a Programmer Analyst at EquiSoft -->
                  </ul>
              </section>
              <section>
                  COMMUNICATION: oral and written communication skills developed through proposals,
                  report writing, presentations as well as group-work interactions at varsity. Presenting software
                  solutions to clients at work further enhanced my communication skills.
              </section>
              <section>
                  COMMUNICATION: oral and written communication skills developed through proposals,
                  report writing, presentations as well as group-work interactions at varsity. Presenting software
                  solutions to clients at work further enhanced my communication skills.
              </section>
              <section>
                  COMMUNICATION: oral and written communication skills developed through proposals,
                  report writing, presentations as well as group-work interactions at varsity. Presenting software
                  solutions to clients at work further enhanced my communication skills.
              </section>

          </article>

          <article>
              <h2>Technologies</h2>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </article>

          <article>
              <h2>Referees</h2>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </article>

      <footer>
          <!-- Bottom navigation -->
      </footer>


  </body>
</html>
